.depo__chain-selector {
  height: 100%;
  .ant-select {
    background-color: #121212;
  }
  .selectOptions {
    color: var(--secondary) !important;
    :hover {
      color: var(--brand-success) !important;
    }
  }
  .ant-select-customize-input {
    height: 35px;
    overflow: hidden;
  }
  .ant-select-selector {
    position: relative;
    .ant-select-selection-item {
      position: absolute !important;
      left: 15px;
      top: 2px;
      img {
        margin-bottom: 2px;
        border-radius: 10px;
      }
    }
  }
}

.depo__chain-selector-dropdown {
  background: #1e1e1e !important;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12),
    0px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px !important;
  .ant-select-item-option-selected {
    background-color: inherit !important;
    color: var(--brand-success) !important;
  }
  img {
    margin-bottom: 2px;
    border-radius: 10px;
  }
}
