.compare-exchanges {
  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
  }

  .ant-table-thead > tr > th {
    background: none !important;
    color: #898989 !important;
    font-size: 12px !important;
    padding-bottom: 7px !important;
    border: none !important
  }

  .ant-table {
    background: none !important;
    color: #fff !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 10px !important;
  }

  .button {
    width: 100% !important;
    text-align: justify;

    .exchange-name {
      text-transform: capitalize;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
    }
  }

}
